{% load django_bootstrap5 %}

<div class="container-sm" style="max-width: 500px;">
  <table class="table table-light" style="width: 100%; margin-left: auto; margin-right: auto;">
  <form class="form-control" method="post" action="/users/profile/" id="login-form">
    {% csrf_token %}    
      <thead class="table-light">
        <tr>
          <th colspan="2" align="center">Altere seus dados</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td align="right" vertical-align="middle"> {% bootstrap_label form.username.label %} </td>          
          <td align="left" vertical-align="middle"> {% bootstrap_field form.username show_label=False placeholder=False %} </td>
        </tr>
        <tr>          
          <td align="right" vertical-align="middle"> {% bootstrap_label form.email.label %} </td>
          <td align="left" vertical-align="middle" vertical-align="middle"> {% bootstrap_field form.email show_label=False placeholder=False %} </td>
        </tr>
        <tr>          
          <td align="right" vertical-align="middle"> {% bootstrap_label form.first_name.label %} </td>
          <td align="left" vertical-align="middle"> {% bootstrap_field form.first_name show_label=False placeholder=False %} </td>
        </tr>
        <tr>          
          <td align="right" vertical-align="middle"> {% bootstrap_label form.last_name.label %} </td>
          <td align="left" vertical-align="middle"> {% bootstrap_field form.last_name show_label=False placeholder=False %} </td>
        </tr>
        <tr>
          <td colspan="2" align="center"> {% bootstrap_button button_type="submit" content="Salvar alterações" %} </td>
        </tr>
      </tbody>
    </form>
    </table>
  </div>

{% if errors %}
<div class="container-sm" style="max-width: 750px;">
  <div class="row justify-content-md-center" style="margin-top: 10px;">
    <div class="col align-self-center">{{ errors }}</div>
  </div>
</div>
{% endif %}

<div class="container-sm" style="max-width: 750px; margin-top: 10px;">
  <div class="row justify-content-md-center" style="margin-bottom: 5px;">
    <div class="col align-self-center"><a href="/accounts/password/change/">[Alterar Senha]</a></div>
    <div class="col align-self-center"><a href="/accounts/email/">[Alterar Email]</a></div>
    <div class="col align-self-center"><a href="/accounts/3rdparty/"> [Redes Sociais] </a></div>
    <div class="col align-self-center"><a href="/accounts/sessions/">[Sessões]</a></div>
    <div class="col align-self-center"><a href="/accounts/logout/">[LogOut]</a></div>
  </div>
</div>