# ==========================================
# Python
# ==========================================

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Django
# ==========================================

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# ==========================================
# Migrations Cache
# ==========================================

*/migrations/__pycache__/

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Pytest / Coverage
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Ruff / Linter
# ==========================================

.ruff_cache/

# ==========================================
# MyPy
# ==========================================

.mypy_cache/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# UV
# ==========================================

.python-version

# ==========================================
# SQLite Locks
# ==========================================

*.sqlite3-shm
*.sqlite3-wal

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp