{% load django_bootstrap5 %}

<form method="post" action="{% url 'new_user' %}">
{% csrf_token %}
<br><br><br><br>
<table class="table table-light" style="width: 30%; margin-left: auto; margin-right: auto;">  
  <thead class="table-light">
    <tr>
      <th colspan="2" align="center">Registre sua conta</th>
    </tr>
  </thead> 
  <tbody  class="table-group-divider">
    <tr>
      <td align="right"> {% bootstrap_label form.username.label_tag label_class="" %} </td>
      <td align="left"> {% bootstrap_field form.username show_label=FALSE placeholder=FALSE %} </td>
    </tr> 
    <tr>
      <td align="right"> {% bootstrap_label form.password.label_tag label_class="" %} </td>
      <td align="left">  {% bootstrap_field form.password show_label=FALSE placeholder=FALSE %}  </td>
    </tr>
        <tr>
      <td align="right"> {% bootstrap_label form.email.label_tag label_class="" %} </td>
      <td align="left">  {% bootstrap_field form.email show_label=FALSE placeholder=FALSE %}  </td>
    </tr>
    <tr>
      <td align="right"> {% bootstrap_label form.first_name.label_tag label_class="" %} </td>
      <td align="left">  {% bootstrap_field form.first_name show_label=FALSE placeholder=FALSE %}  </td>
    </tr>
    <tr>
      <td align="right"> {% bootstrap_label form.last_name.label_tag label_class="" %} </td>
      <td align="left">  {% bootstrap_field form.last_name show_label=FALSE placeholder=FALSE %}  </td>
    </tr>
    <tr>
      <td colspan="2" align="center"> 
        {% bootstrap_button "Cadastrar" button_type="submit" button_class="btn btn-primary" %} 
      </td>
    </tr>
  </tbody>
  <tfoot class="table-group-divider">
    <tr>
      <td align="right"> <a href="">[Lembrar senha]</a> </td>
      <td align="right"> <a href="{% url 'new_user' %}">[Login]</a> </td>
    </tr>
  </tfoot>
</table>   
</form>