<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %} <title>Home</title> {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        {% block content %} <h1>Página sem conteúdo</h1> {% endblock %}

        <script src="" async defer></script>
    </body>
</html>